.row {
  background-color: var(--custom);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  color: #fff;
  margin-bottom: 1rem;
  width: 100%;
  margin: 1rem auto;
}

.row:hover,
.row:hover .profile-img {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 1);
  transition: box-shadow 0.15s;
}

.col,
.col-1,
.col-2,
.col-3 {
  display: flex;
  justify-content: center;
  padding: 0;
}

h5 {
  font-family: "piratesbayregular", cursive;
}

.level-img {
  filter: drop-shadow(0 0 0.1rem rgba(255, 255, 255, 0.5));
}

.progress {
  width: 100%;
}

@media (min-width: 768px) {
  .row {
    width: 75%;
  }

  .progress {
    width: 75%;
  }
}

@media (min-width: 992px) {
  .progress {
    width: 50%;
  }
}