html,
body {
  height: 100% !important;
  background-color: #fff;
  background-image: url(../img/bright-squares.png);

}

body {
  font-size: 19px;
  display: flex !important;
  flex-direction: column !important;
}

/* Navbar */
.navbar-brand {
  font-family: "piratesbayregular", cursive;
  font-size: 1.5rem;
}

.btn-icon {
  transform: scale(1.1);
}

.dropdown {
  display: flex !important;
  flex-direction: column !important;
}

.dropdown-toggle {
  justify-content: center !important;
  padding-left: 0;
  padding-right: 0;
}

.dropdown-toggle::after {
  margin-left: 0.5rem;
}

.dropdown-item {
  font-family: "piratesbayregular", cursive;
  font-size: 1.1rem;
}

.dropdown-item:hover {
  background-color: var(--custom);
  color: #fff;
}

/* Content */
.content {
  padding-top: calc(1rem + 62px);
  padding-bottom: 15px;
}

main h1 {
  text-align: center;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Footer */
footer {
  background-color: var(--custom);
  color: rgba(255, 255, 255, 0.75);
  margin-top: auto;
  padding-top: 1rem;
  padding-bottom: 0.25rem;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.link {
  display: flex;
  align-items: center;
  justify-content: start;
}

footer a {
  color: rgba(255, 255, 255, 0.75);
}

footer a:hover {
  color: #fff;
  text-decoration: none;
}

footer p {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

footer ul {
  margin: 0;
  padding: 0;
}

footer li a {
  margin: 0;
}

footer .link {
  width: 220px;
}

.img {
  filter: drop-shadow(0 0 0.1rem rgba(255, 255, 255, 0.5));
  transform: scale(0.8);
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.img img {
  margin: 0 0.5rem;
}

@media (min-width: 576px) {
  .img {
    transform: scale(1);
  }
}
